@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    background-color:#282D35;
}

.header-container{
    background-color: #21222A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container{
    display: flex;
    color: #61DAFB;
    justify-content: space-around;
    width:165px;
    align-items: center;
    margin-left: 20px;
}

.logo-container img{
    height: 25px;
}

.logo-container h2{
    margin-left: 10px;
}

.project-title{
    color:#DEEBF8;
    margin-right: 20px;
}

.content-parent-div{
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.content-parent-div h1{
    margin-left: -150px;
}

ul {
    list-style: none; /* Remove default bullets */
    line-height: 50px;
    font-weight: 400;
    font-size: 16px;
}

ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #61DAFB; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
    font-size: 22px;
}

#logo2{
    position: absolute;
    right: 0;
    top:25%;
}